        @use'door';
        @use'start';
        @use'variaveis';
        @use'header';
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style: none;
        }

        body {
            background-color: variaveis.$corDeFundo;
        }

        @mixin text($fontSize: 16px) {
            font-size: $fontSize;
            line-height: $fontSize + 10px;
            color: variaveis.$corTextoPricipal;
        }

        @mixin title($fontSize: 40px) {
            @include text($fontSize);
            color: variaveis.$corTextoSecundario;
            font-family: variaveis.$fontTitle ;
        }

        .text--big {
            @include text(20px)
        }

        .text--small {
            @include text(12px)
        }

        .title {
            @include title

        }

        .title--small {
            @include title(12px)
        }

        .border {
            border-bottom: 2px solid variaveis.$corTextoPricipal;
        }

        .personagem {
            padding: 5.6vw;
        }

        
        .container {
            width: 100%;
            display: block;
            
            @media (max-width: 768px) {
                display:block;
                align-items: center;
                text-align: center;
            }
        }
        .container__item {
            width: 100%;
            margin-bottom: 40px;
            display: flex;
            flex-direction: row;

            
        }
        .textos {
        display: block;
        unicode-bidi: isolate;
        padding: 20px;

        }

    .trailer {
        text-align: center;
        padding-bottom: 24px;
    }

    .trailer {
        padding-top: 80px;
        padding-bottom: 80px;
    }


    footer{
        text-align: center;
        padding-top: 16px;
        padding-bottom: 16px;
        margin-bottom: 4px;
        border: 2px solid variaveis.$corTextoSecundario;
        
    }
